* {
    margin: 0;
    padding: 0;
}
:root {
    --color1: #f8b8bf;
    --color2: #f8cbad;
    --color3: #124a7a;
    --color4: #158a96;
    --color5: #54d3c2;
}
body {
    background-color: #FFD3D3;
}